.nogotochki-search-input-container {
    text-align: center;
}

.nogotochki-search-input-container .item-element {
    width: 120px;
    height: 20px;
    display: inline-block;
}

.nogotochki-search-input-container .input-element {
    text-align: left;
    width: 1000px
}